

header{top: 0%;
    background-color: rgb(58, 20, 121);
    color: white;
    height: 80px;
    width: auto;
    text-align: center;
font-style: oblique;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 30px;
}

.h2{
    background-color: rgb(58, 20, 121);
    color: white;
    /* height: 80px; */
    /* width: auto; */

    /* overflow: hidden; */
}
    

a:link a:visited{
    margin-right: 50px;
    margin-left: 50px;
}



*{
    margin: 0;
    padding: 0;
}
nav{
    background:whitesmoke;
    font-size: 10px;
    font-family: arial;
    text-transform: uppercase;
    font-weight: bold;
}
nav ul{background-color:pink;
    list-style: none;
    word-spacing: 5px;
    display: flex;
    justify-content: center;
}
nav ul a{
    padding:  10px 5px;
}
nav ul a{
    text-decoration: none;
    color: white;
    width: 120px;
    display: block;
    text-align: center;
}
nav ul li a:hover{
    font-size: 15px;
    transition: 0.6s;
}
li:nth-child(6n + 1){
    background: red;
}
li:nth-child(6n + 2){
    background: gold;
}
li:nth-child(6n + 3){
    background: black;
}
li:nth-child(6n + 4){
    background: purple;
}
li:nth-child(6n + 5){
    background: green;
}
li:nth-child(6n + 6){
    background: blue;
}





h2{background-color: purple;
    color: white;
    padding-bottom: 10px;
    margin-top: 300px;
   size:50px;
}

 .h4{
    /* padding-bottom: 20px; */
    text-align: center;
    size: 500px;
    /* margin-top:90px;  */

}
.six{
    background-image: url(inu.jpg);
    
}
.Seven{
    background-image: url(pu.jpg);
}
.Eight{
    background-image: url(Main-Building.jpg);
}
.Nine{
    background-image: url(u.jpg);
    
}
.Ten{
    background-image: url(OIP\ \(1\).jpg);

    
}

.index{
    background-image:url(GCU-1000x509.jpg);
}